$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import 'colors.scss';

body {
  background-image: url("/../../wasteland.jpeg");
}

@media only screen and (max-width: 475px) {
  body {
    background-color: $light-blue;
  }
}

.authentications-padding {
  align-content: center;
  align-self: center;

  @media only screen and (min-width: 476px) {
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    padding: 5px;
  }

  @media only screen and (max-width: 475px) {
    padding: 5px;
    width: 335px;
  }

  background-color: white;
  border-radius: 5px;
}

h1,
h3 {
  color: $alert-red;
  font-family: Helvetica, sans-serif;

  @media only screen and (max-width: 515px) {
    font-size: 21px;
  }
}

h4 {
  color: $alert-red;
  font-family: Helvetica, sans-serif;
}

h2 {
  color: $pure-white;
  background-color: $alert-red;
  -webkit-animation: flash linear 1s;
  font-family: Helvetica, sans-serif;
  width: 50%;
  margin: 0px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;

  @media only screen and (max-width: 515px) {
    font-size: 21px;
  }
}

.flashit{
  color:#f2f, infinite; // color overrides correctly only if i leave like this
	animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

.formlink {
background: none!important;
color: inherit;
border: none;
padding: 0!important;
font: inherit;
cursor: pointer;
border-bottom: 1px solid $soft-tan;
}

.formlink:hover {
  border-bottom: 1px solid $standard-gray;
}

#dropdown-anchor {
  display: inline-block;
}

#dropdown-link {
  display: inline-block;
}

#announcer {
  color: $soft-tan;
  background-color: $standard-gray;
  border: black;
  font-family: Helvetica, sans-serif;
  width: 90%;
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-text,
h4 {
  color: $standard-gray;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  .form-text a:hover {
    color: $soft-tan;
  }
}

.outer-padding {
  align-items: center;
  align-self: center;
  background-color: $very-light-gray;
  border: 1px;
  justify-content: center;
  padding: 5%, auto;
  // background-image: url("../../wa.png");
}

.api-padding {
  align-self: center;
  align-content: center;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
}

.forms {
  margin-bottom: 1px;
}

.tiles {
  background-color: black;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border-color: $soft-tan;
  border-style: solid;
  margin: 1px;
  float: left;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

div.tiles:hover {
  background-color: $soft-tan;
}

.tan-line {
  width: 90%;
  height: 1px;
  border: 1px;
  border-style: solid;
  margin: 15px;
  border-color: gray;
}

.white-line {
  width: 90%;
  height: 1px;
  border: 1px;
  border-style: solid;
  margin: 15px;
  border-color: white;
}

.clear {
  clear: both;
}
